<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Login con JWT</title>
        <link rel="stylesheet" type="text/css" href="/login.css">
    </head>
    <body>
        <!-- Usamos una clase en vez del atributo style para cumplir con CSP -->
        <div id="errorMessage" class="error-text"></div>
        
        <form id="loginForm">
            <div><label> User Name : <input type="text" id="username" name="username"/> </label></div>
            <div><label> Password: <input type="password" id="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>

        <!-- Scripts externos: ZAP los considera seguros -->
        <script src="/auth.js"></script>
        <script src="/login.js"></script> 
    </body>
</html>